:root {
  --page-color: rgba(30, 30, 30, 1);

  --text-color: rgba(0, 0, 0, 0.66);

  --border-color: rgba(255, 255, 255, 0.33);
  --background-color: rgba(255, 255, 255, 0.25);
  --background-darken: rgba(0, 0, 0, 0.05);

  --heading-background-color: rgba(255, 255, 255, 0.95);

  --link-color: rgba(51, 140, 205, 1);

  /* Use 500 colours */
  --button-enabled-background-color: rgba(76, 175, 80, 0.66);
  --button-enabled-foreground-color: rgba(255, 255, 255, 0.66);
  --button-2-enabled-background-color: rgb(33, 150, 243);
  --button-border-radius: 0.5rem;

  --border-radius: 0.5rem;

  --box-shadow: 0 0 var(--border-radius) var(--border-radius) rgba(0, 0, 0, 0.05);

  --font-size: 1rem;
  --normal-font: 'Overpass';
  --mono-font: 'Overpass Mono';
}
@media only screen and (max-device-width: 480px) {
  :root {
    --font-size: 2rem;
    --button-border-radius: 1rem;
    --border-radius: 1rem;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  background: linear-gradient(125deg, #fdff9c 0%, #0500ff 100%), linear-gradient(180deg, #d3d3d3 0%, #161616 100%),
    linear-gradient(310deg, #00f0ff 0%, #00f0ff 20%, #0017e3 calc(20% + 1px), #0017e3 40%, #000f8f calc(40% + 1px), #000f8f 70%, #00073f calc(70% + 1px), #00073f 100%),
    linear-gradient(285deg, #ffb6b9 0%, #ffb6b9 35%, #fae3d9 calc(35% + 1px), #fae3d9 45%, #bbded6 calc(45% + 1px), #bbded6 65%, #61c0bf calc(65% + 1px), #61c0bf 100%);
  background-blend-mode: overlay, overlay, exclusion, normal;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  width: 75vw;
  overflow: auto;
  margin: 0 auto 0 auto;
  padding: calc(var(--border-radius) * 4) 0;
  font-family: var(--normal-font);
  font-size: var(--font-size);
  color: var(--text-color);
}
@media only screen and (max-device-width: 480px) {
  body {
    width: 100vw;
    padding: var(--border-radius) var(--border-radius);
  }
}

p {
  margin: calc(0rem - var(--border-radius)) 0 calc(0rem - var(--border-radius)) 0;
  padding: var(--border-radius);
}

h1 {
  margin: calc(var(--border-radius) * 4) 0 var(--border-radius) 0;
  font-size: calc(var(--font-size) * 2);
}

h1:first-child {
  position: relative;
  margin: calc(0rem - var(--border-radius)) calc(0rem - var(--border-radius)) calc(0rem + (var(--border-radius) * 2)) calc(0rem - var(--border-radius));
  padding: var(--border-radius);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background: var(--heading-background-color);
}

h1:nth-child(2) {
  margin: 0 0 var(--border-radius) 0;
}

h2 {
  margin: calc(var(--border-radius) * 3) 0 var(--border-radius) 0;
  font-size: calc(var(--font-size) * 1.5);
}

h2:nth-child(2) {
  margin: 0 0 var(--border-radius) 0;
}

h2 small {
  margin-left: calc(var(--font-size) * 0.5);
  font-size: calc(var(--font-size) * 1);
  font-weight: lighter;
}

h3 {
  margin: calc(var(--border-radius) * 3) 0 var(--border-radius) 0;
  font-size: calc(var(--font-size) * 1);
}

h3:nth-child(2) {
  margin: 0 0 var(--border-radius) 0;
}

h3 small {
  margin-left: calc(var(--font-size) * 0.375);
  font-size: calc(var(--font-size) * 0.75);
  font-weight: lighter;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bolder;
}
a:hover {
  filter: brightness(125%);
  text-decoration: underline;
}

table {
  margin: 0;
  border-collapse: collapse;
  border-radius: var(--border-radius);
  overflow: hidden;
  font-size: var(--font-size);
  box-shadow: var(--box-shadow);
}

tr {
  background-color: var(--background-color);
}
tr:nth-child(even) {
  filter: brightness(90%);
}

th {
  padding: var(--border-radius);
  background-color: var(--background-color);
  text-align: left;
  font-size: var(--font-size);
}
th small {
  margin-left: calc(var(--font-size) * 0.375);
  font-size: calc(var(--font-size) * 0.75);
  font-weight: lighter;
}

td {
  font-family: var(--mono-font);
  padding: var(--border-radius);
  font-size: var(--font-size);
}

td span {
  display: inline-block;
}

td svg {
  width: var(--font-size);
  height: var(--font-size);
  color: var(--text-color);
  vertical-align: middle;
  margin-left: var(--border-radius);
}

svg.copy {
  width: var(--font-size);
  height: var(--font-size);
  margin: var(--border-radius);
  color: var(--text-color);
  vertical-align: middle;
  cursor: pointer;
}

form {
  margin: auto;
}

label {
  margin: auto var(--border-radius) auto auto;
  font-size: calc(var(--font-size) * 1.1);
}

input[type='text'],
input[type='number'],
input[type='datetime-local'],
textarea {
  margin: auto var(--border-radius) auto auto;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-darken);
  padding: var(--border-radius);
  font-family: var(--mono-font);
  font-size: var(--font-size);
}

textarea {
  vertical-align: top;
}

input[type='submit'],
input[type='button'] {
  margin: var(--border-radius) var(--border-radius) auto auto;
  border: 1px solid var(--border-color);
  border-radius: var(--button-border-radius);
  padding: var(--border-radius);
  font-family: var(--page-font);
  font-size: var(--font-size);
  color: var(--button-enabled-foreground-color);
  box-shadow: var(--box-shadow);
  opacity: 1;
}

input[type='submit']:hover,
input[type='button']:hover {
  filter: brightness(110%);
  cursor: pointer;
}

input[type='submit'] {
  background-color: var(--button-enabled-background-color);
}

input[type='button'] {
  background-color: var(--button-2-enabled-background-color);
}

.page {
  overflow: visible;
  width: 100%;
  min-height: 50%;
  margin: auto;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--border-radius) var(--border-radius) calc(var(--border-radius) * 2) var(--border-radius);
  background-color: var(--background-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: var(--box-shadow);
}

/* width */
.page::-webkit-scrollbar {
  width: var(--font-size);
}

/* Track */
.page::-webkit-scrollbar-track {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background: var(--background-color);
}

/* Handle */
.page::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: var(--border-radius);
}

/* Handle on hover */
.page::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}

.page div.inline-block {
  display: inline-block;
  width: auto;
  margin: 0 var(--border-radius) var(--border-radius) 0;
  border: 0;
  padding: var(--border-radius);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.page div.block {
  display: block;
  width: auto;
  margin: 0 var(--border-radius) var(--border-radius) 0;
  border: 0;
  padding: var(--border-radius);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.page div.block h3,
.page div.inline-block h3 {
  width: auto;
  margin: 0 0 calc(var(--border-radius) / 2) 0;
}

.page div.block p,
.page div.inline-block p {
  margin: 0;
  padding: 0;
}
